.DS_Store
Seminararbeit/seminar.pdf
Seminararbeit/seminar.synctex.gz
Seminararbeit/seminar.fdb_latexmk
Seminararbeit/seminar.aux
Seminararbeit/seminar.bbl
Seminararbeit/seminar.blg
Seminararbeit/seminar.fls
Seminararbeit/seminar.log
